<% layout("layouts/boilerplate") -%>

<link rel="stylesheet" href="/css/index.css" />

<body>
  <div class="tax-toggle toggler" style="margin-top: 1rem">
    <label class="form-check-label" for="flexSwitchCheckDefault"
      >Display total after taxes</label
    >
    <div class="form-check-reverse form-switch switch-container">
      <label class="switch">
        <input type="checkbox" role="switch" id="flexSwitch" />
        <span class="slider">
          <svg
            class="slider-icon"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="presentation"
          >
            <path fill="none" d="m4 16.5 8 8 16-16"></path>
          </svg>
        </span>
      </label>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
    <% for(let listings of listing){ %>
    <a href="/listings/<%=listings._id%>" id="listing-link">
      <div class="card listing-card mt-3">
        <img
          src="<%=listings.image.url%>"
          class="card-img-top"
          alt="Listing Image"
          style="height: 20rem"
        />

        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=listings.title %></b> <br />
            <span
              class="price-without-gst"
              data-original-price="<%=listing.price%>"
              ><b> &#x20B9; <%=listings.price.toLocaleString("en-IN")%></b> /
              night</span
            >
            <span
              class="price-with-gst"
              data-original-price="<%=listing.price%>"
              style="display: none"
              ><b>
                &#x20B9; <%= (listings.price * 1.18).toLocaleString("en-IN")
                %></b
              >/ night</span
            >
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>

<script src="/JS/index.js"></script>
