<% layout("layouts/boilerplate") -%>
<link
  rel="stylesheet"
  href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<link rel="stylesheet" href="/css/index.css" />

<br />

<div
  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"
  id="listing-container"
>
  <% for(let listing of allListings){ %>
  <a href="/listings/<%=listing._id%>" id="listing-link">
    <div
      class="card listing-card"
      data-title="<%=listing.title.toLowerCase()%>"
      data-listing-id="<%=listing._id%>"
    >
      <img
        src="<%=listing.image.url%>"
        class="card-img-top"
        alt="Listing Image"
        style="height: 20rem"
      />

      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text" style="margin-left: 0.25rem">
          <b><%=listing.title %></b> <br />
          <span class="price-without-gst"
            ><b> &#x20B9; <%=listing.price.toLocaleString("en-IN")%></b> /
            night</span
          >
          <span class="price-with-gst" style="display: none"
            ><b>
              &#x20B9; <%= (listing.price * 1.18).toLocaleString("en-IN") %></b
            >/ night</span
          >
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/JS/index.js"></script>
