<% layout("layouts/boilerplate") -%>

<link rel="stylesheet" href="/css/index.css" />

<br />
<div class="tax-toggle toggler">
  <label class="form-check-label" for="flexSwitchCheckDefault"
    >Display total after taxes</label
  >
  <div class="form-check-reverse form-switch switch-container">
    <label class="switch">
      <input type="checkbox" role="switch" id="flexSwitch" />
      <span class="slider">
        <svg
          class="slider-icon"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="presentation"
        >
          <path fill="none" d="m4 16.5 8 8 16-16"></path>
        </svg>
      </span>
    </label>
  </div>
</div>

<%- include("../includes/currency.ejs") %> <%-
include("../includes/filters.ejs") %>

<div
  class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mb-4"
  id="listing-container"
>
  <% for(let listing of allListings){ %>
  <a href="/listings/<%=listing._id%>" id="listing-link">
    <div
      class="card listing-card"
      data-title="<%=listing.title.toLowerCase()%>"
      data-listing-id="<%=listing._id%>"
      data-bedrooms="<%= listing.bedrooms %>"
      data-beds="<%= listing.beds %>"
      data-accessibility="<%= listing.locked %>"
      data-type="<%= listing.typeOfPlace %>"
    >
      <% if (listing.averageRating === 5) { %>
      <div class="favorite-tag">Guest favourite</div>
      <% } %>

      <img
        src="<%=listing.image.url%>"
        class="card-img-top"
        alt="Listing Image"
        style="height: 18.75rem"
      />

      <form action="/wishlists/add" method="POST">
        <% if(currUser){ %>
        <input type="hidden" name="userId" value="<%= currUser._id %>" />
        <input type="hidden" name="listingId" value="<%= listing._id %>" />
        <button
          type="submit"
          id="submit-heart"
          style="background: none; border: none; padding: 0"
        >
          <p style="margin-right: 0.5rem; font-weight: 300">
            <% if (currUser && currUser.favoriteListings.includes(listing._id))
            { %>
            <i class="fa-solid fa-heart" style="color: #ff385c"></i>
            <!-- Filled heart -->
            <% } else { %>
            <i class="fa-solid fa-heart" style="color: rgb(64, 64, 64)"></i>
            <!-- Empty heart -->
            <% } %>
          </p>
        </button>
        <% } %>
      </form>

      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text" style="margin-left: 0.25rem">
          <b><%=listing.title %></b> <br />
          <span
            class="price-without-gst"
            data-original-price="<%=listing.price%>"
            ><b> &#x20B9; <%=listing.price.toLocaleString("en-IN")%></b> /
            night</span
          >
          <span
            class="price-with-gst"
            style="display: none"
            data-original-price="<%=listing.price%>"
            ><b>
              &#x20B9; <%= (listing.price * 1.18).toLocaleString("en-IN") %> </b
            >/ night
          </span>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script src="/JS/index.js"></script>
<script src="/JS/currency.js"></script>
