<% layout("layouts/boilerplate") -%>

<h2>Wishlists</h2>

<% if (currUser && currUser.favoriteListings && currUser.favoriteListings.length > 0) { %>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
  <% currUser.favoriteListings.forEach((listingId) => { %>
    <div class="col mb-4">
      <div class="card">
        <img src="<%= listingId.image.url %>" class="card-img-top" alt="Listing Image" style="height: 20rem" />
        <div class="card-body">
          <h5 class="card-title"><%= listingId.title %></h5>
          <p class="card-text"><%= listingId.description %></p>
          <form action="/wishlist/remove" method="POST">
            <input type="hidden" name="userId" value="<%= currUser._id %>" />
            <input type="hidden" name="listingId" value="<%= listingId._id %>" />
            <button type="submit" class="btn btn-primary">Remove from Wishlist</button>
          </form>
        </div>
      </div>
    </div>
  <% }); %>
</div>
<% } else { %>
<p>No items in your wishlist.</p>
<% } %>

<script src="/JS/index.js"></script>
<script src="/JS/currency.js"></script>
